.env*
!.env*.example

# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*$py.class__pycache__/

.DS_Store
.vscode

# Artifacts from contract compilation
node_modules/
solidity-files-cache.json
**/bonding_token/cache/
**/bonding_token/artifacts/@openzeppelin/
**/bonding_token/artifacts/build-info/
**/bonding_token/artifacts/contracts/BondingCurveToken.sol/BondingCurveToken.dbg.json

# IDE
.vscode