[submodule "eliza"]
	path = eliza
	url = git@github.com:abstractoperators/eliza.git
	update = checkout
[submodule "apps/api/src/launchpad-contracts"]
	path = apps/api/src/launchpad-contracts
	url = git@github.com:abstractoperators/launchpad-contracts.git
[submodule "eliza1.0"]
	path = eliza1.0
	url = git@github.com:abstractoperators/eliza1.0.git
